<!--The content below is only a placeholder and can be replaced.-->
<div class="combody">

  <ng-template #content let-modal>
    <div class="modal-header" modal-dialog class="modalHeader">


      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>


      <div class="row modalHeaderRow">
        <div class="col-4 callhistorytext"> <img src="../assets/images/callhistory.png"  > CALLS HISTORY</div>
        <div class="col-3" style="text-align:right;">
          <span class="badge badge-success">IN CALL</span>
          <span class="badge">OUTBOUND CALL</span>
        </div>
        <div class="col-5 numtext" style="text-align:right;">00:03:57 <img src="../assets/images/phoneOutLine.png">
        </div>
      </div>

      <div class="row modalHeaderRow">
        <div class="col-3"></div>
        <div class="col-5">

          <span class="incallName"><span class="greendot"></span> Shirley Thomas</span>
        </div>
        <div class="col-4" class="phometext">+1(234) 123 123</div>
      </div>

    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">


          <div class="row">
            <div class="col-3">
              <img src="../assets/images/usephOutLine.png" class="userimg">
            </div>
            <div class="col-9">

              <div class="row">
                <div class="col-12">
                  <span class="userdistxt">Marketing Executing,Inform Group Pty Ltd,Philippines,Cosmetics</span><br>
                  <span class="usersharetxt">Linkedin</span><span class="usersharetxt">Facebook</span><span
                    class="usersharetxt">Twitter</span><span class="usersharetxt">+Add Field</span>
                </div>
              </div>

              <div class="row">

                <div class="col-12 callhistorytext" style="text-align: right;">
                 CALLS HISTORY
                </div>

              </div>

              <div class="row">

                <div class="col-7">
                  <span class="badge">OUTBOUND CALL</span><br>
                  <span class="normaltext"><img src="../assets/images/timer.png"> 4 DAYS AGO</span>
                </div>


                <div class="col-5">

                  <div class="row">
                    <div class="col-6">
                      <img src="../assets/images/followup.png">
                    </div>

                    <div class="col-6">
                      <img src="../assets/images/note.png">
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-6" style="text-align: left;">
                      <a href="#" class="lbltext">1 Follow Up</a>
                    </div>

                    <div class="col-6" style="text-align: left;">
                      <a href="#" class="lbltext">3 Notes</a>
                    </div>

                  </div>






                </div>

              </div>

            </div>
          </div>


          <!-- <label for="dateOfBirth">Date of birth</label>
          <div class="input-group">
            <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
            </div>
          </div> -->



        </div>
      </form>
    </div>

   <div class="footerheadingbadge">
      <span><span class="showfth" >SHOW MORE REGISTERS FROM SHIRLEY</span></span>
   </div> 
    <div class="modal-footer footerbackground">
     

        <div class="row rowfooter">

            <div class="col-12 footertext">
    
              <div class="col-10 left">
                  <span>
                      Budget is finnally avaiable! Needs to pull some othere decision makers.
                      Followup next week. CC sales manager <a href = "mailto: abc@example.com">@robert</a> so he can join.
                    </span>
              </div>
            
              <div class="col-2 left footerSave">
                  <button class="btn btn-primary btnfooter"  type="button" (click)="modal.close('Save click')">Save</button>

              </div>
    


              </div>
            <!-- <div class="col-3 footertext" >
                <button class="btn btn-primary"  type="button">Save</button>
            </div> -->
          </div>


    </div>
  </ng-template>



  <button class="btn btn-outline-primary bottomright custbutton" (click)="open(content)">
    <img src="../assets/images/copytoclip.jpg" width="25px" height="25px">

    
  </button>






</div>



<router-outlet></router-outlet>