.combody{
   
    text-align: center;
}

.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
  }
  .rounedbutton {border-radius: 50%;height: 35px; padding-bottom: 40px !important;}

  .imgclass
  {
      height:25px;
      width:25px;
  }

  .btnfooter
  {
    padding: .84rem 1.14rem !important;
    border-radius: 4px;
  }

